.navbar {
    background-color: rgb(4, 4, 80);
}






.footer
{
    background-color: rgb(4, 4, 80);
  padding:45px 0 20px;
  font-size:15px;
  /* line-height:24px; */
  color:white;
}


.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }
  .container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    
    
  }
  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
  
  }
  .about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
  }
  .about-image:hover img{
    transform: scale(1.2);
  }
  .about-content{
    flex: 1;
  }
  .about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
  }
  .about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  
   
  @media screen and (max-width: 768px) {
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
  
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    
    
  }
  .heading1{
    width: 90%;
    display: flex;
    /* justify-content: start; */
    /* align-items: center; */
    flex-direction: column;
    /* text-align: center; */
    margin: 20px auto;
    color: black;
  }
  .container1{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .about1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-image1{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
  
  }
  .about-image1 img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
  }
  .about-image1:hover img{
    transform: scale(1.2);
  }
  .about-content1{
    flex: 1;
  }
  .about-content1 h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
  }
  .about-content1 p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  @media screen and (max-width: 768px){
    .container1{
        padding: 0px;
    }
    .about1{
        padding: 20px;
        flex-direction: column;
    }
    .about-image1{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .about-content1 p{
        padding: 0px;
        font-size: 16px;
    }
  }
  .container2{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .about2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-image2{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
  
  }
  .about-image2 img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
  }
  .about-image2:hover img{
    transform: scale(1.2);
  }
  .about-content2{
    flex: 1;
  }
  .about-content2 h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
  }
  .about-content2 p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  @media screen and (max-width: 768px){
    .container2{
        padding: 0px;
    }
    .about2{
        padding: 20px;
        flex-direction: column;
    }
    .about-image2{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .about-content2 p{
        padding: 0px;
        font-size: 16px;
    }}

.head{
    margin-left: 49px;
}



/* Forms */


 .btn-form{
  background-color: rgb(4, 4, 80);
  color: white;
  margin-bottom: 8px;
}


.btn-form:hover{
  background: #04278a;
  color: white;
}



.myform{
  background-color: rgba(3, 3, 139, 0.623);
  border-radius: 10px;
  width: 50%;
  margin-left: 280px;
  padding: 15px 0px;
  color: white;
}

.para{
  color: blue
}
 

 













/* Gallery */


.card1 img{
  transition: all 0.2s;
}



.card1 img:hover{

  transform: scale(0.9);
  box-shadow: 0px 10px 20px 5px #04278a;
}

/* facilities */

*{
  padding: 0;
  margin: 0;
}


.abc-container{
  max-width: 90%;
  margin: 50px auto 0;
}

.abc-container .abc-block{
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.abc-container .abc-block .image{
  flex: 0 0 auto;
  width: 400px;

}


.abc-container .abc-block .image img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  transition: .3s;
  transform: scale(1);
}


.abc-container .abc-block .image:hover img{
  transform: scale(1.05);
}



.abc-container .abc-block .content{
  flex: 0 0 auto;
  width:calc(100% - 400px);
  box-sizing: border-box;
  align-self: center;
}

.abc-container .abc-block .content h5{
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
}


@media screen and (min-width: 1024px)
{
  .abc-container .abc-block:nth-child(odd) .image{
    order: 1;
  }

  .abc-container .abc-block:nth-child(even) .image{
    order: 2;
  }

  .abc-container .abc-block:nth-child(odd) .content{
    order: 2;
    padding-left: 30px;
  }

  .abc-container .abc-block:nth-child(even) .content{
    order: 1;
    padding-right: 30px;
  }


}


/* login form */

.condition1{
  text-align: center;
}
.box{
  padding: 10px 40px;
  margin: 5px 0;
}
#SignUp{
padding: 10px 40px;
/* margin: 10px 20px; */
margin-top: 10px;
margin-bottom: 30px;
border-radius: 10px;

}
#LogIn{
  padding: 10px 40px;
margin: 10px 20px;
border-radius: 10px;
}
#loginpass{
  /* margin-left: 130px; */
}


body{
  background-color: rgba(245, 245, 245, 0.781);
}


.container{
  margin-left: 60px;
}





